force-app/main/default/flows/StoreAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assigncontacts</name>
        <label>assigncontacts</label>
        <locationX>636</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountsLoop.contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactsloop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>StoreAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StoreAccounts</label>
    <loops>
        <name>accountsLoop</name>
        <label>accountsLoop</label>
        <locationX>145</locationX>
        <locationY>301</locationY>
        <collectionReference>accountsIn</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateAccount</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>contactsloop</name>
        <label>contactsloop</label>
        <locationX>748</locationX>
        <locationY>313</locationY>
        <collectionReference>contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>accountsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccount</name>
        <label>CreateAccount</label>
        <locationX>427</locationX>
        <locationY>136</locationY>
        <assignRecordIdToReference>accountId</assignRecordIdToReference>
        <connector>
            <targetReference>assigncontacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>accountsLoop.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>accountsLoop.name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>1014</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>contactsloop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>contactsloop.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>contactsloop.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactsloop.name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>accountsLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountsIn</name>
        <apexClass>AccountInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contacts</name>
        <apexClass>ContactInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
